@charset "UTF-8";
.wrapper {
  min-width: 320px;
  max-width: 1512px;
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

body {
  background-color: #0d0d11;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #9c9c9c;
}

.buttons a {
  color: #fff;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.45; /* 160% */
  letter-spacing: 2px;
  border-radius: 50px;
  background: #3d96f4;
  color: #fff;
  padding: 16px 30px;
  transition: all 0.5s ease 0s;
}
.button:hover {
  background-color: rgba(129, 129, 139, 0.9);
  color: #fff;
}
@media (max-width: 991.98px) {
  .button {
    padding: 14px 20px;
  }
}
@media (max-width: 767.98px) {
  .button {
    padding: 10px 15px;
  }
}
.button_dark {
  background-color: rgba(129, 129, 139, 0.2);
}
.button_dark:hover {
  background-color: #3d96f4;
  color: #fff;
}

.text {
  color: #81818b;
  line-height: 1.5; /* 150% */
}

.header-main__labels a {
  color: #9c9c9c;
}
.header-main__labels:not(:last-child) {
  margin-bottom: 19px;
}

.header-main__label {
  display: inline-block;
  border-radius: 12px;
  border: 1px solid rgba(129, 129, 139, 0.2);
  padding: 11px 18px;
  font-size: 11px;
  font-weight: 300;
  line-height: 1.6; /* 160% */
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: border 0.5s ease 0s;
}
.header-main__label:hover {
  border: 1px solid rgba(129, 129, 139, 0.8);
}

.icon-menu {
  position: fixed;
}
@media (max-width: 767.98px) {
  .icon-menu {
    display: block;
    position: relative;
    flex: 0 0 30px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 10;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.5s ease 0s;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #9c9c9c;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(55% - 1px);
    transform: scale(1) translate(0px, -55%);
  }
  .icon-menu._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .icon-menu._active::before {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
    background-color: #9c9c9c;
  }
  .icon-menu._active::after {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
    background-color: #9c9c9c;
  }
}

@media (max-width: 767.98px) {
  .menu {
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-end;
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #0d0d11;
    padding: 100px 15px 50px 15px;
    transition: left 0.5s ease 0s;
    overflow: auto;
    z-index: 4;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__body._active::before {
    left: 0;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: -100%;
    height: 70px;
    background-color: #0d0d11;
    transition: left 0.5s ease 0s;
  }
}

.simple-rating {
  position: relative;
  font-size: 24px;
  display: inline-block;
}
.simple-rating::before {
  content: "★★★★★";
  display: block;
}
.simple-rating__items {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
}
.simple-rating__item {
  position: absolute;
  width: 0%;
  height: 0%;
  top: 0;
  left: 0;
  visibility: hidden;
}
.simple-rating__item:checked, .simple-rating__item:checked ~ .simple-rating__label {
  color: #fbb040;
}
.simple-rating__label {
  flex: 0 0 20%;
  height: 100%;
  cursor: pointer;
  color: #fff;
}
.simple-rating__label::before {
  content: "★";
  transition: color 0.3s ease 0s;
}
.simple-rating__label:hover, .simple-rating__label:hover ~ .simple-rating__label, .simple-rating__label:checked ~ .simple-rating__label:hover {
  color: #fac779;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(13, 13, 17, 0.4666666667);
  z-index: 50;
}
.header__container {
  display: flex;
  align-items: center;
  -moz-column-gap: 35px;
       column-gap: 35px;
  min-height: 116px;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media (max-width: 991.98px) {
  .header__container {
    -moz-column-gap: 20px;
         column-gap: 20px;
    min-height: 90px;
  }
}
@media (max-width: 767.98px) {
  .header__container {
    min-height: 70px;
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}
.header__logo {
  position: relative;
  z-index: 5;
}
@media (max-width: 479.98px) {
  .header__logo {
    width: 32px;
    flex: 0 0 32px;
    overflow: hidden;
  }
}
.header__menu {
  flex: 1 1 auto;
}
.header__cart {
  position: relative;
  z-index: 5;
}
.header__buttons {
  flex: 0 0 auto;
}
.header__button {
  position: relative;
  z-index: 5;
}

.menu__list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  -moz-column-gap: 35px;
       column-gap: 35px;
  row-gap: 5px;
}
@media (max-width: 991.98px) {
  .menu__list {
    gap: 20px;
  }
}
@media (max-width: 767.98px) {
  .menu__list {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 32px;
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}
.menu__item a {
  color: #fff;
}
.menu__link {
  display: block;
  font-weight: 300;
  line-height: 1.6;
  transition: color 0.5s ease 0s;
}
.menu__link:hover {
  color: #9c9c9c;
}
.cart-header {
  display: flex;
  align-items: center;
  gap: 5px;
}
.cart-header span {
  color: #fff;
}
.cart-header__text {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6; /* 160% */
  letter-spacing: 0.96px;
  transition: color 0.5s ease 0s;
}
.cart-header__text:hover {
  color: #9c9c9c;
}
@media (max-width: 479.98px) {
  .cart-header__text {
    display: none;
  }
}
.cart-header__quantity {
  border-radius: 30px;
  background: rgba(129, 129, 139, 0.3);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1; /* 100% */
  letter-spacing: 0.96px;
  transition: color 0.5s ease 0s;
}
.cart-header__quantity:hover {
  color: #9c9c9c;
}
@media (max-width: 479.98px) {
  .cart-header__quantity {
    font-size: 10px;
    background: url("../images/icons/cart.svg") center/auto 100% no-repeat;
    width: 40px;
    height: 40px;
    padding-bottom: 8px;
    padding-left: 8px;
    border-radius: 0;
  }
}

.main {
  padding-top: 160px;
  padding-bottom: 100px;
}
@media (max-width: 991.98px) {
  .main {
    padding-top: 120px;
    padding-bottom: 80px;
  }
}
@media (max-width: 767.98px) {
  .main {
    padding-top: 90px;
    padding-bottom: 30px;
  }
}
.main__container {
  display: flex;
  gap: 32px;
}
@media (max-width: 767.98px) {
  .main__container {
    flex-direction: column;
  }
}
.main__content {
  flex: 0 1 50%;
  align-self: center;
}
@media (max-width: 767.98px) {
  .main__content {
    align-self: stretch;
  }
}
.main__images {
  flex: 0 1 50%;
}

.header-main__title {
  color: #fff;
  font-size: 51px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  position: relative;
}
@media (min-width: 767.98px) {
  .header-main__title {
    max-width: 520px;
  }
}
@media (max-width: 991.98px) {
  .header-main__title {
    font-size: 44px;
  }
}
@media (max-width: 767.98px) {
  .header-main__title {
    font-size: 32px;
  }
}
@media (max-width: 479.98px) {
  .header-main__title {
    font-size: 28px;
  }
}
.header-main__title:not(:last-child) {
  margin-bottom: 28px;
}
@media (max-width: 767.98px) {
  .header-main__title:not(:last-child) {
    margin-bottom: 15px;
  }
}
.header-main__title::before {
  content: "";
  background: url("../images/main/main-decor.svg") 0 0/100% no-repeat;
  width: 122px;
  height: 122px;
  top: -30px;
  left: -30px;
  position: absolute;
}
.header-main__text {
  font-size: 18px;
  line-height: 1.5; /* 150% */
}
@media (min-width: 767.98px) {
  .header-main__text {
    max-width: 491px;
  }
}
.header-main__text:not(:last-child) {
  margin-bottom: 33px;
}
@media (max-width: 767.98px) {
  .header-main__text:not(:last-child) {
    margin-bottom: 15px;
  }
}
.header-main__actions {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 15px;
}
@media (max-width: 479.98px) {
  .header-main__actions {
    flex-direction: column;
  }
}
.images-main {
  display: flex;
  justify-content: center;
  gap: 9.615385%; /* 60px/624px */
}
.images-main__column {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.images-main__item {
  border-radius: 50%/29%;
  overflow: hidden;
}
.images-main__item img {
  max-width: 100%;
}
.images-main__item_1, .images-main__item_4 {
  border-radius: 50%/29%;
}
.images-main__item_2 {
  border-radius: 50% 50% 0 50%;
}
.images-main__item_3 {
  border-radius: 50% 0 50% 50%;
}

.clients {
  padding-top: 100px;
  padding-bottom: 70px;
}
@media (max-width: 991.98px) {
  .clients {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 767.98px) {
  .clients {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.clients__title {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6; /* 160% */
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 44px;
}
@media (max-width: 991.98px) {
  .clients__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 767.98px) {
  .clients__title {
    margin-bottom: 20px;
  }
}
.clients__items {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.clients__item img {
  max-width: 100%;
}

.services {
  padding-top: 70px;
  padding-bottom: 100px;
}
@media (max-width: 991.98px) {
  .services {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 767.98px) {
  .services {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.services__container {
  display: flex;
}
@media (max-width: 1100.98px) {
  .services__container {
    flex-direction: column;
  }
}
.services__content {
  flex: 0 1 50%;
  align-self: center;
}
.services__items {
  flex: 0 1 50%;
  display: flex;
  justify-content: center;
  gap: 32px;
}
@media (max-width: 767.98px) {
  .services__items {
    flex-direction: column;
  }
}
.services__column:first-child {
  padding-top: 48px;
}
@media (max-width: 767.98px) {
  .services__column:first-child {
    padding-top: 0px;
  }
}
.services__item:not(:last-child) {
  margin-bottom: 32px;
}
@media (max-width: 1100.98px) {
  .services__title {
    max-width: none;
  }
}
.services__title::before {
  display: none;
}
@media (max-width: 1100.98px) {
  .services__text {
    max-width: none;
  }
}
@media (max-width: 767.98px) {
  .services__button {
    margin-bottom: 30px;
  }
}

.item-service {
  display: block;
  border-radius: 30px;
  background: rgba(129, 129, 139, 0.1);
  padding: 55px 25px;
}
.item-service__icon:not(:last-child) {
  margin-bottom: 16px;
}
.item-service__title {
  color: #fff;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.4; /* 140% */
}
.item-service__title:not(:last-child) {
  margin-bottom: 10px;
}
.item-service__text {
  color: #81818b;
  font-weight: 300;
  line-height: 1.5; /* 150% */
}

.why {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 991.98px) {
  .why {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 767.98px) {
  .why {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.why__container {
  display: flex;
  -moz-column-gap: 64px;
       column-gap: 64px;
  row-gap: 32px;
}
@media (max-width: 767.98px) {
  .why__container {
    flex-direction: column-reverse;
  }
}
.why__images {
  flex: 0 1 50%;
}
.why__content {
  flex: 0 1 50%;
  align-self: center;
}
.images-why {
  display: flex;
  position: relative;
  align-self: flex-end;
}
.images-why__item {
  overflow: hidden;
}
.images-why__item img {
  transform: scale(1.01);
  max-width: 100%;
}
.images-why__item_1 {
  border-radius: 90% 0 49% 49%/50% 0 31% 31%;
}
.images-why__item_2 {
  align-self: flex-end;
  border-radius: 50% 50% 50% 0;
}
.images-why::before {
  position: absolute;
  content: "";
  background: url("../images/main/main-decor.svg") 0 0/100% no-repeat;
  width: 122px;
  height: 122px;
  bottom: 0;
  left: 0;
  position: absolute;
}

.header-main__list li {
  position: relative;
  min-height: 32px;
  padding-left: 40px;
  padding-top: 4px;
  font-weight: 300;
  line-height: 1.5;
}
.header-main__list li:not(:last-child) {
  margin-bottom: 16px;
}
.header-main__list li::before {
  position: absolute;
  content: "";
  background: rgba(129, 129, 139, 0.1) url("../images/why/arrow.svg") center no-repeat;
  left: 0;
  top: 0;
  border-radius: 32px;
  width: 32px;
  height: 32px;
}

.advantages {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 991.98px) {
  .advantages {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 767.98px) {
  .advantages {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.advantages__container {
  display: flex;
  gap: 32px;
}
@media (max-width: 991.98px) {
  .advantages__container {
    flex-direction: column;
  }
}
.advantages__items {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 32px;
}
@media (max-width: 767.98px) {
  .advantages__items {
    grid-template-columns: auto;
  }
}
.advantages__item {
  padding: 40px;
  border-radius: 30px;
  background: rgba(129, 129, 139, 0.1);
}
.advantages__value {
  color: #fff;
  font-size: 51px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
}
.advantages__value:not(:last-child) {
  margin-bottom: 32px;
}
.advantages__text {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5; /* 150% */
  max-width: 250px;
}
.advantages__image {
  align-self: flex-end;
  max-width: 0 0 38%; /* 500/1310 */
  overflow: hidden;
  border-radius: 0% 68% 60% 60%/0 68% 52% 52%;
}
@media (max-width: 991.98px) {
  .advantages__image {
    align-self: center;
  }
}
.advantages__image img {
  max-width: 100%;
  transform: scale(1.01);
}

.testimonials {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 991.98px) {
  .testimonials {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 767.98px) {
  .testimonials {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.testimonials__header {
  margin-bottom: 64px;
}
@media (max-width: 991.98px) {
  .testimonials__header {
    margin-bottom: 40px;
  }
}
@media (max-width: 767.98px) {
  .testimonials__header {
    margin-bottom: 30px;
  }
}
.testimonials__title {
  max-width: none;
}
.testimonials__title::before {
  display: none;
}
.testimonials__body {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 767.98px) {
  .testimonials__body {
    flex-direction: column;
  }
}
.testimonials__text {
  max-width: 736px;
}
.testimonials__text:not(:last-child) {
  margin-bottom: 0;
}
.testimonials__buttons {
  align-self: flex-end;
  flex: 0 0 auto;
}
@media (max-width: 767.98px) {
  .testimonials__buttons {
    align-self: flex-start;
  }
}
.testimonials__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
@media (max-width: 1100.98px) {
  .testimonials__items {
    grid-template-columns: auto;
  }
}
.item-testimonial {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 64px 40px;
  border-radius: 30px;
  background-color: rgba(129, 129, 139, 0.1);
}
@media (max-width: 991.98px) {
  .item-testimonial {
    padding: 30px 15px;
  }
}
.item-testimonial__title {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.4; /* 140% */
}
.item-testimonial__text {
  flex: 1 1 auto;
  font-weight: 300;
  line-height: 1.5; /* 150% */
}
.user-testimonial {
  display: flex;
  gap: 16px;
  align-items: center;
}
.user-testimonial__avatar {
  flex: 0 0 68px;
  overflow: hidden;
}
.user-testimonial__avatar_1 {
  border-radius: 0 50% 50% 50%;
}
.user-testimonial__avatar_2 {
  border-radius: 50% 0 50% 50%;
}
.user-testimonial__avatar_3 {
  border-radius: 50% 50% 0 50%;
}
.user-testimonial__avatar img {
  max-width: 100%;
  transform: scale(1.05);
}
.user-testimonial__title {
  color: #fff;
  font-weight: 300;
  line-height: 1.5; /* 150% */
}
.user-testimonial__title:not(:last-child) {
  margin-bottom: 7px;
}
.user-testimonial__company {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6; /* 160% */
}

.blog {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 991.98px) {
  .blog {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 767.98px) {
  .blog {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.blog__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;
}
@media (max-width: 1100.98px) {
  .blog__items {
    gap: 20px;
  }
}
@media (max-width: 767.98px) {
  .blog__items {
    grid-template-columns: auto;
  }
}
.item-blog {
  background: rgba(129, 129, 139, 0.1);
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.item-blog__header {
  position: relative;
}
.item-blog__header a {
  color: #fff;
}
.item-blog__category {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0px 10px 0px 0px;
  background-color: rgba(129, 129, 139, 0.5);
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6; /* 160% */
  padding: 10px;
  transition: background-color 0.5s ease 0s;
}
.item-blog__category:hover {
  background-color: rgba(129, 129, 139, 0.7);
}
.item-blog__image {
  display: block;
  position: relative;
  padding-bottom: 49.238579%; /* 194px/394 */
  transition: all 0.5s ease 0s;
}
.item-blog__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.item-blog__image:hover {
  transform: scale(1.01);
}
.item-blog__body {
  padding: 36px 26px;
}
@media (max-width: 1100.98px) {
  .item-blog__body {
    padding: 25px 15px;
  }
}
.item-blog__date {
  color: rgba(129, 129, 139, 0.9);
  font-weight: 300;
  line-height: 1.5; /* 150% */
}
.item-blog__date:not(:last-child) {
  margin-bottom: 20px;
}
.item-blog__title:not(:last-child) {
  margin-bottom: 30px;
}
.item-blog__title a {
  color: #fff;
}
.item-blog__link-title {
  font-size: 19.2px;
  font-weight: 400;
  line-height: 1.4; /* 140% */
  transition: color 0.5s ease 0s;
}
.item-blog__link-title:hover {
  color: #3d96f4;
}
.item-blog__text {
  font-weight: 300;
  line-height: 24px; /* 150% */
}
.item-blog__text:not(:last-child) {
  margin-bottom: 21px;
}
.item-blog__links a {
  color: #3d96f4;
}
.item-blog__link {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6; /* 160% */
  transition: color 0.5s ease 0s;
}
.item-blog__link:hover {
  color: #fff;
}

.start {
  padding-top: 100px;
  margin-bottom: 100px;
}
@media (max-width: 991.98px) {
  .start {
    padding-top: 50px;
    margin-bottom: 50px;
  }
}
@media (max-width: 767.98px) {
  .start {
    padding-top: 30px;
    margin-bottom: 30px;
  }
}
.start__body {
  display: flex;
  align-items: center;
  padding: 52px 40px;
  border-radius: 30px;
  background: rgba(129, 129, 139, 0.1);
}
@media (max-width: 991.98px) {
  .start__body {
    align-items: stretch;
    flex-direction: column;
    row-gap: 30px;
  }
}
.start__column {
  flex: 0 1 50%;
  text-align: center;
}
.start__title {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.4; /* 140% */
}
.start__title:not(:last-child) {
  margin-bottom: 16px;
}
@media (max-width: 767.98px) {
  .start__title {
    font-size: 24px;
  }
}
.start__text {
  font-weight: 300;
  line-height: 1.5; /* 150% */
  max-width: 340px;
  display: inline-block;
}
.start__actions {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 20px;
  justify-content: center;
}
@media (max-width: 479.98px) {
  .start__actions {
    flex-direction: column;
  }
}
.footer__main {
  padding-top: 10px;
  padding-bottom: 100px;
}
@media (max-width: 991.98px) {
  .footer__main {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 767.98px) {
  .footer__main {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.main-footer__container {
  display: grid;
  gap: 64px;
  grid-template-columns: minmax(auto, 378px) auto auto minmax(auto, 378px);
}
@media (max-width: 1100.98px) {
  .main-footer__container {
    gap: 45px;
    grid-template-columns: minmax(auto, 378px) auto auto;
  }
}
@media (max-width: 767.98px) {
  .main-footer__container {
    gap: 35px;
    grid-template-columns: auto auto;
  }
}
.main-footer__column {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 767.98px) {
  .main-footer__column:nth-child(1) {
    grid-column: span 2;
  }
}
@media (max-width: 767.98px) {
  .main-footer__column:nth-child(4) {
    grid-column: span 2;
  }
}
.main-footer__text {
  color: #9c9c9c;
  font-weight: 300;
  line-height: 1.5; /* 150% */
}
.main-footer__label {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 1px;
}
.main-footer__label_1, .main-footer__label_2 {
  cursor: pointer;
  transition: color 0.5s ease 0s;
}
.main-footer__label_1:not(:last-child), .main-footer__label_2:not(:last-child) {
  margin-bottom: 32px;
}
@media (max-width: 479.98px) {
  .main-footer__label_1, .main-footer__label_2 {
    font-size: 16px;
  }
}
.main-footer__label_1:hover, .main-footer__label_2:hover {
  color: #3d96f4;
}
.main-footer__label_1::before, .main-footer__label_2::before {
  display: none;
}
@media (max-width: 767.98px) {
  .main-footer__label_1, .main-footer__label_2 {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 10px;
  }
  .main-footer__label_1::before, .main-footer__label_2::before {
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    transform: rotate(90deg);
    transition: transform 0.3s ease 0s;
  }
  .main-footer__label_1._active::before, .main-footer__label_2._active::before {
    transform: rotate(-90deg);
  }
}
.social {
  display: flex;
  gap: 16px;
}
.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 36px;
  border: 1px solid rgba(129, 129, 139, 0.9);
  padding: 8px;
}
.social__item a {
  color: #75757f;
}
.social__link {
  font-size: 20px;
  transition: color 0.5s ease 0s;
}
.social__link:hover {
  color: #3d96f4;
}

.menu-footer__list {
  display: grid;
  gap: 24px;
}
.menu-footer__item a {
  color: #9c9c9c;
}
.menu-footer__link {
  font-weight: 300;
  line-height: 1.6; /* 160% */
  transition: color 0.5s ease 0s;
}
.menu-footer__link:hover {
  color: #3d96f4;
}

.subscribe {
  display: flex;
  gap: 16px;
}
@media (max-width: 479.98px) {
  .subscribe {
    flex-direction: column;
  }
}
.subscribe__input {
  width: 100%;
  height: 52px;
  border-radius: 50px;
  border: 1px solid rgba(129, 129, 139, 0.3);
  padding: 0 30px;
  background-color: #0d0d11;
  color: #fff;
  font-weight: 400;
  line-height: 1.56%; /* 25/16 */
}
.subscribe__input::-moz-placeholder {
  color: #999;
}
.subscribe__input:-ms-input-placeholder {
  color: #999;
}
.subscribe__input::placeholder {
  color: #999;
}
.bottom-footer {
  border-top: 1px solid rgba(129, 129, 139, 0.2);
  padding-top: 45px;
  padding-bottom: 45px;
}
@media (max-width: 767.98px) {
  .bottom-footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.bottom-footer__copy {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6; /* 160% */
}

.input {
  transition: box-shadow 0.5s ease 0s;
}

.input:focus {
  box-shadow: 0 0 15px #3d96f4;
}

.input._error {
  box-shadow: 0 0 15px rgb(226, 17, 17);
}